
* {
margin: 0;
padding: 0;
}


body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background: #181818;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    
}

button, a {
    cursor: pointer;
}

.audio__player{
    background: #282828;
}

@media (max-width: 600px) {
    .audio__player{
        height: 75px;
    }

    .icons{
       margin-top: 17px;
       padding: 10px;
    }

    .total-time {
        display: none;
    }

}